.login_container {
    background-color: #f8fafc;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: white;
    width: 22rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: .6rem;
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    padding: 2rem 0;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.login__logo {
    user-select: none;
}

.login__nombre {
    color: #5f5f5f;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 80%;
}

.login__pwd {
    position: absolute;
    background: none;
    border: 3px solid #f1cb00;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.login__pwd:focus {
    outline: 3px solid #ffd90090;
}

.login__pwd::placeholder{
    color:transparent;
}

.login__label {
    position: absolute;
    top: .9rem;
    left: .65rem;
    padding: 0 .18rem;
    background-color: none;
    color: #a8a8a8;
    font-size: 1rem;
    transition: 0.3s;
    z-index: 0;
}

.login__pwd:focus + .login__label {
    top: -0.42rem;
    left: .65rem;
    z-index: 10;
    font-size: .9rem;
    font-weight: 700;
    background-color: white;
    color: #5f5f5f;
}

.login__pwd:not(:placeholder-shown)+ .login__label {
    top: -0.42rem;
    left: .65rem;
    z-index: 10;
    font-size: .9rem;
    font-weight: 700;
    background-color: white;
    color: #5f5f5f;
}

.login__button {
    background-color: #f1cb00;
    border: 3px solid #f1cb00;
    border-radius: 6px;
    font-weight: bold;
}

.login__button:focus {
    outline: 3px solid #ffd90090;
}

.login__button:hover {
    background-color: #ffd900;
    border: 3px solid #ffd900;
}

.input__container {
    position: relative;
    height: 2.7rem;
    margin-bottom: .3rem;
}
