.login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: white;
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.login__button {
    color: black;
    background-color: transparent;
    height: 30px;
}
