* {
  scrollbar-width: auto;
  scrollbar-color: #f1cb00 black;
}

body {
  --sb-track-color: #000000;
  --sb-thumb-color: #f1cb00;
  --sb-size: 6px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;  
}